.main_container{
                justify-items: center;
                height: 590px;           
                font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.field_container{
         display: flex;
         justify-content: space-between;
         margin-top: 20px;
}
h4{
    color: rgb(251, 210, 210);
}
.Field{
    background-color:aliceblue;
    width: 400px;
    border: none;
    border-radius:9px;
    font-size: 22px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(219, 132, 132, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn{
    height:60px;
    margin-top: 20px;
    margin-left: 300px;
    width: 110px;
    font-size: 19px;
    border: none;
    border-radius: 13px;
}
.btn:hover{
            background-color: rgb(255, 180, 159);
            cursor: pointer;
}
.btn_box{
            display: flex;
            margin-left: 80px;
}
.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(251, 210, 210);
    margin-left: 90px;
}